html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
+---------------------------+
|                           |
|                           |
|                           |
|     Landscape mode css    |
|                           |
|                           |
+---------------------------+
*/

@media only screen and (orientation:landscape){

	header
	{
		position: fixed;
		top: 0;
		width: 100%;
		height: 30px;
		background-color: #4C7622;
	}

	footer
	{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 30px;
		background-color: #4C7622;
	}

	#main 
	{
		position: fixed;
		margin-top: 30px;
		width: 1025px;
		height: 625px;
	}

	#main p, h1, h2, h3, h4, h5, h6
	{
		margin-left: 20px;
	}

	#main p
	{
		margin-top: 20px;
		margin-left: 20px;
		width: 400px;
	}

	#main p:nth-last-child(1)
	{
		margin-bottom: 40px;
	}

	#main img
	{
		margin: 0 auto;
		margin-top: -10px;
		position: relative;
	}

	.navigationland ul
	{
		width: 768px;
		margin: 0 auto;
	}

	.navigationland a
	{
		color: #fff;
		text-decoration: none;
		text-align: center;
	}

	.navigationland li 
	{
		float: left;
		margin: 0 auto;
		margin-left: 15px;
		border-left: 1px solid #fff;
		padding-left: 15px;
		line-height: 12px;
		margin-top: 8px;
	}

	.navigationland li:nth-child(1)
	{
		border: none;
	}

	.navigationland li:nth-last-child(1)
	{
		margin-left: 15px;
	}

	.block
	{
		position:relative;
	    height:625px;
	    color:#292929;
	    background:white;
	    margin-bottom:25px; 
	}


	/*specific content images*/
	img.content
	{
	    border:solid 2px white;
	    width: 1025px;
	}

	img.float
	{
	    padding:10px 15px 10px 15px;
	    margin:0px;
	}

	img.left
	{
	    float:left;
	    margin-right:15px;
	}

	img.right
	{
	    float:right;
	    margin-left:15px;
	}

	img.top
	{
	    padding-bottom:15px;
	}

	img.bottom
	{
	    padding-top:15px;
	}

	.filter
	{
		right: 10px;
		padding: 10px;
		position: absolute;
	}

	.filter select
	{
		display: block;
		margin-top: 15px;
	}

	.filter legend
	{
		margin-top: 10px;
	}

	.filter legend:nth-child(1)
	{
		margin-top: 5px;
	}

	.filter h2
	{
		padding: 5px;
	}

	.boerenmap
	{
		height: 600px;
		position: absolute;
	}

	.boerderijen
	{
		position: absolute;
		left: 10px;
		top: 20px;
	}

	.boerderijen ul
	{
		margin-left: 20px;
		margin-top: 10px;
	}

	.search
	{
		width: 220px;
		position: absolute;
		right: 0px;
	}

	.search input[type="checkbox"]
	{
		width: 20px;
		height: 20px;
	}

	.search li
	{
		padding: 4px;
	}

	.omschrijving
	{
		position: absolute;
		left: 250px;
		top: 195px;
	}

	.omschrijving h1
	{
		margin: 5px;
	}

	.farmbox
	{
		height: 300px;
		width: 520px;
		border: 2px #4C7622 solid;
	}

	.farmbox h3
	{
		padding: 2px;
		margin-top: 2px;
		font: bold 20pt "Helvetica", Helvetica;
		color: #4C7622;
	}

	.farmbox small
	{
		margin-left: 25px;
		position: absolute;
	}

	.farmbox img
	{
		width: auto;
		height: 200px;
		position: absolute;
		left: 20px;
		top: 45px;
		border: 2px #4C7622 solid;
	}

	.farmbox ul
	{
		position: absolute;
		right: 40px;
		top: 70px;
	}

	.farmbox li
	{
		list-style:circle inside;
	}

	.farmbox input[type=submit]
	{
		position: absolute;
		right: 15px;
		bottom: 21px;
		background-color: #4C7622;
		color: #fff;
		padding: 2px 5px 2px 5px;
	}



} /* end landscape dont remove */
/*
+---------------------------+
|                           |
|                           |
|                           |
|    Portrait mode css      |
|                           |
|                           |
+---------------------------+
*/
@media only screen and (orientation:portrait){
   /* portrait styles here */

   footer .navigationport li
   {
   		display:none;
   }

	#main 
	{
		width: 840px;
	}

	#main p, h1, h2, h3, h4, h5
	{
		margin-left: 70px;
	}

	#main p
	{
		padding-bottom: 20px;
		width: 400px;
		margin-left: 70px;
	}

	.navigationport a
	{
		display: block;
		background-color: #538522;
		padding: 5px 25px;
		color: #fff;
		text-decoration: none;
		border-radius: 15px;
		text-align: center;
	}

	.navigationport li 
	{
		margin: 0 auto;
		margin: 15px;
		margin-left: 285px;
		width: 200px;
	}

	.navigationport li:nth-last-child(1)
	{
		margin-left: 245px;
	}

	/*specific content images*/
	img.content
	{
	    border:solid 2px white;
	    width: 840px;
	}

	img.float
	{
	    padding:10px 15px 10px 15px;
	    margin:0px;
	}

	img.left
	{
	    float:left;
	    margin-right:15px;
	}

	img.right
	{
	    float:right;
	    margin-left:5px;
	}

	img.top
	{
	    padding-bottom:15px;
	}

	img.bottom
	{
	    padding-top:15px;
	}
}

